body{
    margin: 0em;
    font-family: 'Roboto', sans-serif; 
}
h1,h2,h3,h4,h5{
    font-family: 'Architects Daughter', cursive;
}

.coverino{
    height: 400px;
    color:white;
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
}

.cover-small{
    height: 300px;
    background-blend-mode: normal;
    }

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-title{
    min-height: 2rem;
}

.card-text{
    min-height: 5rem;
}

